<!-- Form for creating and editing a color -->
{% extends 'joulukortti/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Edit Color{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<!--<form method="post">
    {% csrf_token %}
    {{ add_color_form.as_p }}
    <button type="submit">Add Selected Colors</button>
</form>-->
{% endblock %}