<!-- canvas.html -->
{% extends 'joulukortti/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
{% endblock %}

{% block title %}Canvas Drawing App with Color Picker{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row align-items-center m-3">
        <div class="col-auto whiteBackground rounded">
            <label for="drawingName" class="col-form-label">Drawing Name:</label>
        </div>
        <div class="col-5">
            <input type="text" class="form-control" id="drawingName" name="drawingName" required>
        </div>
    </div>


    <div class="d-flex">
        <canvas id="drawingCanvas" width="800" height="400" class="me-3"></canvas>

        <div class="d-flex flex-column">
            <div class="whiteBackground rounded px-2 pt-2 text-center text-uppercase">Background colors</div>

            <div class="whiteBackground p-4 d-inline-block rounded mb-4">
                <div class="row mb-3">
                {% for color in colors %}
                    <div class="col-3 background-color colorSwatch" style="background-color: {{ color.hex_value }}" data-color="{{ color.hex_value }}"></div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div><div class="row mb-3">
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <div class="whiteBackground rounded px-2 pt-2 text-center text-uppercase">Line colors</div>
            <div class="whiteBackground p-4 d-inline-block rounded mb-4">
                <div class="row mb-3">
                {% for color in colors %}
                    <div class="col-3 line-color colorSwatch" style="background-color: {{ color.hex_value }}" data-color="{{ color.hex_value }}"></div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div><div class="row mb-3">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="ms-3 align-self-end d-flex flex-column">

            <button id="downloadBtn" class="btn btn-primary m-2">Download Drawing</button>
            {% if user.is_authenticated %}
                <a class="btn btn-info m-2" href="{% url 'color_list' %}">Modify Colors</a>
                <button id="saveDrawing" data-url="{% url 'save_drawing' %}" class="btn btn-secondary m-2">
                Save Drawing
                </button>
            {% endif %}
        </div>

    </div>

    <button id="saveDrawing" data-url="{% url 'save_drawing' %}" class="btn btn-secondary m-2">
       Save Drawing
    </button>

    <button id="undoButton" class="btn-secondary">Undo</button>

    <button id="clearCanvas" class="btn btn-secondary m-2" onclick="window.location.reload()">Clear</button>
    <br/>
    <div class="dropMenu">
        <button id="linewidthMenu" class="dropMenuBtn">Linewidth</button>
        <div class="dropMenuContent">
            <button class="lineWidthBtn" data-size="1">1</button>
            <button class="lineWidthBtn" data-size="2">2</button>
            <button class="lineWidthBtn" data-size="3">3</button>
            <button class="lineWidthBtn" data-size="4">4</button>
            <button class="lineWidthBtn" data-size="5">5</button>
            <button class="lineWidthBtn" data-size="6">6</button>
            <button class="lineWidthBtn" data-size="7">7</button>
            <button class="lineWidthBtn" data-size="8">8</button>
            <button class="lineWidthBtn" data-size="9">9</button>
        </div>
    </div>
</div>


  <!-- Script for Canvas Drawing -->
  <script src="{% static 'js/canvas-drawing.js' %}"></script>

  <!-- Script for Color Picker -->
  <script src="{% static 'js/color-picker.js' %}"></script>

  <!-- Script for Download Functionality -->
  <script src="{% static 'js/download-drawing.js' %}"></script>

    <!-- Script for Save Functionality -->
    <script src="{% static 'js/save-drawing.js' %}"></script>
{% endblock %}