<!-- canvas.html -->
{% extends 'joulukortti/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
{% endblock %}

{% block title %}Canvas Drawing App with Color Picker{% endblock %}

{% block content %}
    <label for="drawingName">Drawing Name:</label>
    <input type="text" id="drawingName" name="drawingName" required>
    <br>
  <canvas id="drawingCanvas" width="800" height="400"></canvas>
  <div id="colorPickerContainer">
    Background Color Picker:
    <div class="background-color colorSwatch" style="background-color: #000" data-color="#000"></div>
    <div class="background-color colorSwatch" style="background-color: #ff0000" data-color="#ff0000"></div>
    <div class="background-color colorSwatch" style="background-color: #00ff00" data-color="#00ff00"></div>
    <div class="background-color colorSwatch" style="background-color: #0000ff" data-color="#0000ff"></div>
    <div class="background-color colorSwatch" style="background-color: #ffff00" data-color="#ffff00"></div>
    <div class="background-color colorSwatch" style="background-color: #ff00ff" data-color="#ff00ff"></div>
    <div class="background-color colorSwatch" style="background-color: #00ffff" data-color="#00ffff"></div>
    <div class="background-color colorSwatch" style="background-color: #ffa500" data-color="#ffa500"></div>
    <div class="background-color colorSwatch" style="background-color: #808080" data-color="#808080"></div>
    <div class="background-color colorSwatch" style="background-color: #ffffff" data-color="#ffffff"></div>
    <div class="background-color colorSwatch" style="background-color: #a52a2a" data-color="#a52a2a"></div>
    <div class="background-color colorSwatch" style="background-color: #008000" data-color="#008000"></div>
<br>
    Line Color Picker:
    <div class="line-color colorSwatch" style="background-color: #000" data-color="#000"></div>
    <div class="line-color colorSwatch" style="background-color: #ff0000" data-color="#ff0000"></div>
    <div class="line-color colorSwatch" style="background-color: #00ff00" data-color="#00ff00"></div>
    <div class="line-color colorSwatch" style="background-color: #0000ff" data-color="#0000ff"></div>
    <div class="line-color colorSwatch" style="background-color: #ffff00" data-color="#ffff00"></div>
    <div class="line-color colorSwatch" style="background-color: #ff00ff" data-color="#ff00ff"></div>
    <div class="line-color colorSwatch" style="background-color: #00ffff" data-color="#00ffff"></div>
    <div class="line-color colorSwatch" style="background-color: #ffa500" data-color="#ffa500"></div>
    <div class="line-color colorSwatch" style="background-color: #808080" data-color="#808080"></div>
    <div class="line-color colorSwatch" style="background-color: #ffffff" data-color="#ffffff"></div>
    <div class="line-color colorSwatch" style="background-color: #a52a2a" data-color="#a52a2a"></div>
    <div class="line-color colorSwatch" style="background-color: #008000" data-color="#008000"></div>
  </div>

  <button id="downloadBtn">Download Drawing</button>
  <br>
   <button id="saveDrawing" data-url="{% url 'save_drawing' %}">
       Save Drawing
   </button>

  <!-- Script for Canvas Drawing -->
  <script src="{% static 'js/canvas-drawing.js' %}"></script>

  <!-- Script for Color Picker -->
  <script src="{% static 'js/color-picker.js' %}"></script>

  <!-- Script for Download Functionality -->
  <script src="{% static 'js/download-drawing.js' %}"></script>

    <!-- Script for Save Functionality -->
    <script src="{% static 'js/save-drawing.js' %}"></script>
{% endblock %}