<!-- gallery.html -->
{% extends 'joulukortti/base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <h1>Welcome to Gallery</h1>
    <h2>All Christmas Cards</h2>
    {% for card in xmas_cards %}
        <div>
            <h3>{{ card.name }}</h3>
            <p>Created on: {{ card.date_created }}</p>
            {% if card.drawing %}
                <img src="{{ card.drawing.url }}" alt="{{ card.name }} Drawing">
            {% else %}
                <p>No drawing available</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}