<!-- gallery.html -->
{% extends 'joulukortti/base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class="container">
    <h2 class="whiteBackground p-3 rounded text-center">All Christmas Cards</h2>
    <a class="button btn-light rounded p-1 text-decoration-none text-uppercase">Click on an image to dowload it</a>
    <div class="row">
    {% for card in xmas_cards %}
        <div class="col-6 my-4">
        <div>
            <h3 class="whiteBackground rounded text-center">{{ card.name }}</h3>

            {% if card.drawing %}
                <a href="{{ card.drawing.url }}" download>
                    <img src="{{ card.drawing.url }}" alt="{{ card.name }} Drawing" class="img-fluid">
                </a>
            {% else %}
                <p>No drawing available</p>
            {% endif %}
            <p class="whiteBackground rounded pl-3">Created on: {{ card.date_created }}</p>
        </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}