<!-- home.html -->
{% extends 'joulukortti/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to the Home Page</h1>
    <a href="{% url 'canvas' %}" class="btn btn-primary mb-1">
        Proceed as a guest (Go to Canvas)
    </a>
    <br>
    <a href="{% url 'gallery' %}" class="btn btn-info mb-1">
        Go to Gallery
    </a>
        <br>
    <button class="btn btn-secondary">Go through registration</button>
</div>
{% endblock %}